. filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
UnityEditor.XR.LegacyInputHelpers.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Editor.Shared.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Settings.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARCore.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.InternalUtils.csproj filter=lfs diff=lfs merge=lfs -text
Packages filter=lfs diff=lfs merge=lfs -text
Unity.Tutorials.Core.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.InternalUtils.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.EditorCoroutines.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.Runtime.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Simulation.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.SpatialTracking.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Mathematics.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Mathematics.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Config.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Config.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Shaders.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Settings.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Tutorials.Core.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Samples.ARStarterAssets.csproj filter=lfs diff=lfs merge=lfs -text
PPv2URPConverters.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.IntegrationTests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Performance.Profile-Analyzer.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.DocCodeSamples.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Center.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Rendering.LightTransport.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Shaders.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Tutorials.Core.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARKit.CodeSamples.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.TestFramework.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ShaderGraph.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARKit.FaceTracking.csproj filter=lfs diff=lfs merge=lfs -text
Library filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.TestFramework.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Burst.Editor.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.SpatialTracking.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Runtime.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Rider.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Searcher.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.CoreUtils.CodeSamples.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Simulation.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
mono_crash.mem.52169.1.blob filter=lfs diff=lfs merge=lfs -text
UnityEditor.XR.LegacyInputHelpers.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.2D.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARCore.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARCore.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
AR[[:space:]]Project[[:space:]]HETIC.sln filter=lfs diff=lfs merge=lfs -text
Unity.Burst.CodeGen.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Collections.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.ForUI.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Center.Common.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Runtime.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Tutorials.Core.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARAnalytics.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.InternalUtils.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.CoreUtils.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.Tests.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.SpatialTracking.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.SpatialTracking.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TestTools.CodeCoverage.Editor.Compatibility.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARKit.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Samples.StarterAssets.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Collections.BurstCompatibilityGen.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.UI.csproj filter=lfs diff=lfs merge=lfs -text
Unity.LightTransport.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Performance.Profile-Analyzer.EditorTests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.CoreUtils.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Samples.StarterAssets.Player.csproj filter=lfs diff=lfs merge=lfs -text
AR[[:space:]]Project[[:space:]]HETIC.sln.DotSettings.user filter=lfs diff=lfs merge=lfs -text
UnityEditor.UI.EditorTests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Mathematics.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.PerformanceTesting.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Tutorials.Core.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARKit.Runtime.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.CodeSamples.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.CollabProxy.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Collections.CodeGen.csproj filter=lfs diff=lfs merge=lfs -text
Unity.PerformanceTesting.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.Player.csproj filter=lfs diff=lfs merge=lfs -text
mono_crash.mem.4705.1.blob filter=lfs diff=lfs merge=lfs -text
Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.EditorTests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.TestPackage.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Collections.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.TestRunner.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.TestRunner.csproj filter=lfs diff=lfs merge=lfs -text
Unity.PlasticSCM.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.InternalUtils.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.UI.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipeline.Universal.ShaderLibrary.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARCore.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARKit.csproj filter=lfs diff=lfs merge=lfs -text
mono_crash.mem.4949.1.blob filter=lfs diff=lfs merge=lfs -text
UnityEngine.XR.LegacyInputHelpers.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Runtime.Shared.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Runtime.Shared.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Config.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ShaderGraph.Utilities.csproj filter=lfs diff=lfs merge=lfs -text
Logs filter=lfs diff=lfs merge=lfs -text
TestNewCustomAssembly.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Rendering.LightTransport.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.VisualScripting.csproj filter=lfs diff=lfs merge=lfs -text
obj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipeline.Universal.ShaderLibrary.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.CodeSamples.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.Tests.Standalone.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.UI.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.GPUDriven.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARSubsystems.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Analytics.Hooks.Editor.csproj filter=lfs diff=lfs merge=lfs -text
UserSettings filter=lfs diff=lfs merge=lfs -text
DocCodeExamples.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Collections.PerformanceTests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Collections.Tests.Playmode.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Center.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARSubsystems.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARSubsystems.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARSubsystems.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Simulation.Runtime.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Temp filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.ForUI.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.csproj filter=lfs diff=lfs merge=lfs -text
ProjectSettings filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.CodeSamples.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.VisualScripting.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Simulation.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Collections.DocCodeSamples.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.ShaderLibrary.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.2D.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TestTools.CodeCoverage.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.VisualScripting.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.TestSupport.csproj filter=lfs diff=lfs merge=lfs -text
Assets filter=lfs diff=lfs merge=lfs -text
Unity.Burst.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Mathematics.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Center.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.PerformanceTesting.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.ShaderLibrary.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ShaderGraph.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARCore.Runtime.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.CoreUtils.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.CoreUtils.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.CoreUtils.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Samples.ARStarterAssets.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Samples.StarterAssets.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.TestTooling.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Collections.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.TestRunner.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.XR.LegacyInputHelpers.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Center.Common.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Rendering.LightTransport.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARKit.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Burst.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InternalAPIEngineBridge.007.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Analytics.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.TestPackage.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-Editor.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Collections.Tests.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.UI.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InternalAPIEditorBridge.007.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Nuget.Mono-Cecil.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.GPUDriven.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Searcher.EditorTests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualStudio.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Samples.ARStarterAssets.Editor.csproj filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
